.contentMain{
    margin:12px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap   !important;
    width: 100% !important;
    gap:15px
}
.card-img-top{
    
    height: 300px;
}
.card-title{
    height: 50px ;
    overflow: hidden;
}
.card-text{
    height: 250px ;
    overflow: scroll;
    overflow-x: hidden;
}